.emptyButton {
    min-width: 150px;
    padding-left: 1em;
}

.checkoutButton {
    min-width: 150px;
}

.cardDetails {
    display: flex;
    margin-top: 10%;
    width: 100%;
    justify-content: space-between;
}

.title {
    
}