.media {
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cardContent {
    display: flex;
    justify-content: space-between;
}

.cartActions {
    justify-content: space-between;
}

.buttons {
    display: flex;
    align-items: center;
}