.background-image {
   background-image: url(../../assets/img/VIK_BG.jpg);
   height: 100vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
}

.header-title{
    color: white;
    padding-top: 20%;
    padding-left: 10%;
    font-family: 'Roboto';
    font-size: 64px;
    justify-content: flex-start;
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.box-klader {
   background-image: url(../../assets/img/photo-1434682966726-19ad3a76e143.avif);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 250px;
   width: 100%;
   box-shadow: inset 0 0 0 1000px rgba(0,0,0,.75);
   border: 2px solid #fff;

}
.box-sovenir {
   background-image: url(../../assets/img/photo-1434682881908-b43d0467b798.avif);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 250px;
   width: 100%;
   box-shadow: inset 0 0 0 1000px rgba(0,0,0,.75);
   border: 2px solid #fff;
}

.box-ovrigt {
   background-image: url(../../assets/img/db1ae60d-3752-4f79-8971-06d67626b0e9.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 250px;
   width: 100%;
   box-shadow: inset 0 0 0 1000px rgba(0,0,0,.75);
   border: 2px solid #fff;
}

.category-title {
    color: #fff;
    text-align: center;
    padding: 1.5em 0;
    font-size: 40px;
    font-weight: bold;
}


/*responsive*/

@media screen and (max-width: 1000px) {
   
   .grid-container {
       grid-template-columns: repeat(1, 1fr);
   }

   .first-column {
       padding-bottom: 0;
   }

}

@media screen and (max-width: 700px) {
   .header-title{
      padding-top: 50%;
      padding-right: 30%;
      font-size: 27px;
      text-align: center;
  }

  .background-image {
   background-image: url(../../assets/img/VIK_BG.jpg);
   height: 60vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
}

.box-klader {
   border: 2px solid #000;

}
.box-sovenir {
   border: 2px solid #000;
}

.box-ovrigt {
   border: 2px solid #000;
}

}

@media screen and (max-height: 1000 ) {
    
}
