.navMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5vh;
}

.linkItems {
    color: #fff;
    font-size: 12px;
    font-family: Roboto;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
    text-decoration: none;
}

.appBar {
 box-shadow: none;
 border-bottom: 1px solid rgba(0, 0, 0, 0.12);
 width: calc(100% -0px);
 margin-left: 0;
}

.title {
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
}

.grow {
    flex-grow: 1;
}

.toolbar {
    background-color: #000;
}

.shoppingcart {
    color: #fff;
}