.homeText {
    color: #fff;
    font-family: 'Roboto';
    text-decoration: none;
}

.homeLogo {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    height: 50px;
    margin-right: 10px;
}

.linkItems {
    color: #fff;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em;
    text-decoration: none;
    font-family: 'Roboto';
}

.appBar {
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.title {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.grow {
    flex-grow: 1;
}

.toolbar {
    background-color: #000;
}

.shoppingcart {
    color: #fff;
}